body {
    font-family: 'Bitter', serif;
    margin: 0;
}

.banner {
    background-image: url(images/donation1.jpg);
    border: 2px solid rgba(128, 128, 128, 0.281);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.banner-article {
    margin-bottom: 30px;
    padding: 20px;
}

#lets-help {
    margin-top: 200px;
}

.link-donate {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.donate-toady {
    text-align: center;
    padding-bottom: 30px;
}

#donate-article {
    color: rgba(128, 128, 128, 0.350);
}



.donate {
    display: flex;
    justify-content: center;

}

.amount {
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.055);
    height: 100px;
    width: 100px;
    border-radius: 5px;
    text-align: center;


}

#default-amount {
    border: 1px solid orangered;
    background-color: rgba(255, 166, 0, 0.281);
}

#other-amount {
    color: rgba(128, 128, 128, 0.863);
    text-align: center;
    margin-top: 50px;
}

#line {
    width: 31%;
}

#link-donate2 {
    text-align: center;
    margin-top: 30px;

}


.donate-plan {
    padding-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    /* margin: 30px; */
}


.food-family {
    display: flex;
    /* padding-bottom: 30px;
    border-color: gray; */
}

.card1 {
    background-color: rgba(128, 128, 128, 0.055);
    padding: 40px;
}

.card2 {
    background-color: rgba(206, 21, 21, 0.051);
    padding: 40px;
}

.card3 {
    background-color: rgba(137, 207, 23, 0.055);
    padding: 40px;
}

body {
    font-family: 'Bitter', serif;
    margin: 0;
}


.form {
    background-color: rgba(255, 166, 0, 0.205);
    padding: 70px;
    margin: 50px 300px;
}

.email {
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.5);
}

.get-update {
    text-align: center;
}

#get-update {
    background-color: orange;
    padding: 10px 20px;
    margin-left: -8px;
    margin-top: 5px;

}

#get-update-article {
    color: rgba(128, 128, 128, 0.350);
}

#footer {
    text-align: center;
    height: 100px;
    padding: 3pxback;
    background-color: darksalmon;
    color: black;
    font: 600;
}

#apply-now {
    padding-bottom: 30px;
    border-radius: 5px;
    text-align: center;

}